<div class="col-md-6 col-md-offset-3">
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th ng-repeat="date in current.dates">
            {{ date.format('dddd MMMM Do, YYYY') }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="padding: 0px;" class="calendar-column" ng-repeat="date in current.dates" ng-include="'single_date.html'"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>