<div>
  <div class="calendar-head">Sunday</div>
  <div class="calendar-head">Monday</div>
  <div class="calendar-head">Tuesday</div>
  <div class="calendar-head">Wednesday</div>
  <div class="calendar-head">Thursday</div>
  <div class="calendar-head">Friday</div>
  <div class="calendar-head">Saturday</div>
</div>
<div class="calendar-row" ng-repeat="week in current.weeks">
  <div class="clickable calendar-cell" ng-repeat="day in week" ng-class="{ 'inactive': day.isBefore(current.start) || day.isAfter(current.end) }" ng-click="createEvent(day)">
    <div class="date">
      {{ day.format('D') }}
    </div>
    <div class="content">
      <span ng-repeat="task in eventsForDate(day, 'day')" class="entry" ng-class="task.cssClass(day)" ng-click="showEvent(task); $event.stopPropagation()">
        <span class="lead time">{{ task.startTime.format('h:mma') }}</span><span class="title">{{ task.title }}</span>
      </span>
    </div>
  </div>
</div>
