<div class="modal-header">
  <h1>{{ title() }}</h1>
  <h6>{{ subtitle() }}</h6>
</div>
<div class="modal-body">
  <section ng-if="state === 'multiple'">
    <div ng-repeat="event in events">
      {{ event.title }}
      <a ng-click="edit(event)">Edit</a>
      <a ng-click="view(event)">View</a>
    </div>
  </section>


  <section ng-if="state === 'view'">
    This is the event body
    <a ng-click="edit(event)">Edit</a>
    <a ng-click="cancel()">Cancel</a>
  </section>


  <section ng-if="state === 'edit'">
    <form ng-submit="save()">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" ng-model="event.title" required />
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="event.description"></textarea>
      </div>
      <div class="form-group">
        <label>Start Time</label>
        <div class="datetimepicker-main" uib-dropdown>
          <a uib-dropdown-toggle>
            <div class="input-group">
              <input readonly type="text" class="form-control bg-white" ng-value="event.startTime.format('MM/DD/YY h:mm a')" />
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </a>
          <ul uib-dropdown-menu>
            <datetimepicker ng-model="event.startTime" datetimepicker-config="pickerConfig"/>
          </ul>
        </div>
      </div>
      <div class="form-group">
        <label>End Time</label>
        <div class="datetimepicker-main" uib-dropdown>
          <a uib-dropdown-toggle>
            <div class="input-group">
              <input readonly type="text" class="form-control bg-white" ng-value="event.endTime.format('MM/DD/YY h:mm a')" />
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
              </span>
            </div>
          </a>
          <ul uib-dropdown-menu>
            <datetimepicker ng-model="event.endTime" datetimepicker-config="pickerConfig"/>
          </ul>
        </div>
      </div>

      <div class="form-group text-center">
        <input class="btn btn-primary form-control" type="submit" value="Save" />
      </div>
      <div class="form-group text-center">
        <a ng-click="cancel()">Cancel</a>
      </div>
    </form>
  </section>
</div>