.parallax {
  height: 75vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  color: white;
}

.forest-background {
  background-image: url('images/forest.jpg');
}

.city-background {
  background-image: url('images/city.jpg');
}

.mountain-background {
  background-image: url('images/mountain.jpg');
}

.waterfall-background {
  background-image: url('images/waterfall.jpg');
}

.river-background {
  background-image: url('images/river.jpg');
}

.title {
  background: rgba(200, 200, 200, 0.1);
  padding: 20px;
  width: 100%;
}

.center-justified {
  text-align: center;
}

.left-justified {
  text-align: left;
}

.right-justified {
  text-align: right;
}

.content-wrapper {
  /*min-height: 10vh;*/
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 1000px;
}
.content:not(:last-child) {
  padding-bottom: 20px;
}

.related {
  display: block;
  font-size: 1.2rem
}