.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  display: flex;
  justify-content: center;
}

.background3 {
  background-image: url(http://i.imgur.com/MqYX4uP.jpg);
}

.background2 {
  background-image: url(http://www.onariart.com/i/retina-wallpaper-hd-o00.jpg);
}

.background1 {
  background-image: url(http://i.imgur.com/KN1Ze62.jpg);
}

.header-content {
  align-self: center;
}

.header-title {
  font-size: 4rem;
  padding: 0px;
  margin: 0px;
}

.header-subtitle {
  font-size: 1.5rem;
  padding: 0px;
  margin: 0px;
}

.content {
  background-color: white;
  height: 50%;
}

.related {
  display: block;
  font-size: 1.2rem
}