html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #888;
}

table {
  border: 1px solid #ccc;
}
td {
  padding-left: 10px;
  padding-right: 10px;
}
th {
  font-weight: bolder;
  color: #0066cc;
  padding: 10px;
}

.success {
  color: green;
}
.failure {
  color: red;
}
.danger-button {
  background: red;
}

.header {
  width: 100%;
  height: 50px;
  background: #0066cc;
  padding-top: 25px;
  padding-bottom: 25px;
}

h1 {
  font-size: 2.5rem;
  color: white;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 100;
}
span {
  display: block;
}

input {
  opacity: 0.5;
  font-size: 1.1rem;
  font-family: 'Pavanam', sans-serif;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  opacity: 0.7;
  background-color: #39f;
  border: 1px solid #28e;
  color: #fff;
}