html, body {
  margin: 0px;
  padding: 10px;
  overflow-x: hidden;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #888;
}
h1 {
  padding: 0px;
  margin: 0px;
  font-size: 4rem;
}
h2 {
  font-size: 1.5rem;
}

input, select {
  font-size: 1.1rem;
  font-family: 'Pavanam', sans-serif;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 35px
}

input[type=button] {
  background-color: #39f;
  border: 1px solid #28e;
  color: #fff;
}

input[type=color] {
  width: 150px;
}

.section-builder {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.custom-section {
  margin: 15px;
  margin-left: 30px;
  border: 1px solid #ccc;
  transition: height 0.5s;
  width: 100%;
}

.custom-section-child {
  display: inline-block;
  flex-basis: 80%;
}

.custom-section-child:nth-child(1) {
  margin-right: 5px;
}

.section-ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.section-ul li {
  display: inline-block;
}

.style-options {
  padding: 10px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  margin-bottom: 10px;
}

.options-head {
  color: #555;
}

.options-body {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.75s;
}

.options-body-closed {
  max-height: 0px;
}
.options-body-open {
  border-top: 1px solid #ccc;
}

.options-body li {
  min-width: 150px;
  text-align: right;
  padding-right: 10px;
  vertical-align: middle;
}

.options-body li :nth-child(1) {
  float: left;
}