<!DOCTYPE html>
<html>
<head>
  <title>Doug Keller - Assignment 3</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="javascript/app.js"></script>
  <script src="javascript/custom_page_factory.js"></script>
  <script src="javascript/custom_section_factory.js"></script>
  <script src="javascript/custom_section_directive.js"></script>
  <script src="javascript/custom_style_directive.js"></script>
  <script src="javascript/main_controller.js"></script>
  <link rel="stylesheet" type="text/css" href="application.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lato|Montserrat|Open+Sans|Oswald|Pavanam|Prociono|Raleway|Roboto:100|Shrikhand|Slabo+27px|Source+Sans+Pro" rel="stylesheet">
</head>
<body ng-app="pa3" ng-controller="MainController">
  <center>
    <h1>Personal Profile Creator</h1>
    <ul class="section-ul">
      <li ng-if="!pagePreview || !pagePreview.isOpen()">
        <input type="button" value="Show Preview" ng-click="openPreview()" />
      </li>
      <li ng-if="pagePreview.isOpen()">
        <input type="button" value="Reload Preview" ng-click="openPreview()" />
      </li>
      <li ng-if="pagePreview.isOpen()">
        <input type="button" value="Close Preview" ng-click="closePreview()" />
      </li>
    </ul>
  </center>

  <h2>Title</h2>
  <input type="text" ng-model="title.content" placeholder="Title" />

  <custom-section ng-model="bodySection"></custom-section>

  <h2 style="margin-top: 100px;">Elements Used in this Assignment</h2>
    <div style="margin-left: 40px; display: flex; justify-content: space-around;">
      <div>
        <h3>HTML</h3>
        <ul style="font-family: monospace;">
          <li>head</li>
          <li>body</li>
          <li>div</li>
          <li>section</li>
          <li>input (text, number, color)</li>
          <li>select &amp; option</li>
          <li>ul &amp; li</li>
          <li>textarea</li>
          <li>headers (h1, h2, h3)</li>
          <li>form</li>
          <li>link</li>
          <li>script</li>
        </ul>
      </div>
      <div>
        <h3>CSS</h3>
        <ul style="font-family: monospace;">
          <li>margin</li>
          <li>padding</li>
          <li>border</li>
          <li>display (inline-block, flex, none)</li>
          <li>transition</li>
          <li>background</li>
          <li>color</li>
          <li>font-family</li>
          <li>width &amp; height</li>
          <li>overflow</li>
          <li>float</li>
          <li>text-align</li>
        </ul>
      </div>
      <div>
        <h3>JavaScript</h3>
        <ul style="font-family: monospace;">
          <li>window.open</li>
          <li>window.close</li>
          <li>function</li>
          <li>events</li>
        </ul>
      </div>
      <div>
        <h3>AngularJS</h3>
        <ul style="font-family: monospace;">
          <li>controller</li>
          <li>directive</li>
          <li>factory</li>
          <li>scope</li>
          <li>ng-click</li>
          <li>ng-model</li>
          <li>ng-init</li>
          <li>ng-change</li>
          <li>ng-repeat</li>
          <li>ng-if</li>
        </ul>
      </div>
    </div>
</body>
</html>

