body {
  padding-top: 70px;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.notification-wrapper {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 50px;
  z-index: 1000;
}

.notification {
  text-align: center;
  height: 0px;
  transition: height 0.3s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 50px;
}

.notification.active {
  height: 50px;
}

.calendar-cell {
  padding: 10px;
  margin: 0px;
}

.calendar-cell-week, .calendar-cell-month {
  width: 14.29%;
}

.calendar-cell-day {
  width: 100%;
}

.calendar-header {
  width: 200px;
}
