<div class="style-options">
  <div class="options-head" ng-click="options.open = !options.open" ng-init="options = { open: false }">
    Style Options
    <i class="fa" ng-class="{ 'fa-chevron-down': options.open, 'fa-chevron-right': !options.open }"></i>
  </div>
  <form class="options-body" ng-class="{ 'options-body-closed': !options.open, 'options-body-open': options.open }">
    <ul class="section-ul">
      <li>Background</li>
      <li>
        <select ng-model="backgroundType" ng-init="backgroundType = 'none'">
          <option value="none">None</option>
          <option value="color">Color</option>
          <option value="image">Image</option>
        </select>
      </li>
      <li ng-if="backgroundType === 'color'">
        <input type="color" ng-model="style.background" ng-init="style.background = '#EEEEEE'"/>
      </li>
      <li ng-if="backgroundType === 'image'">
        <input type="text" placeholder="URL" ng-model="url" ng-change="style.background = 'url(' + url + ')'" />
      </li>
      <li ng-if="backgroundType === 'image'">
        <input type="number" step="1" min="1" placeholder="Width" ng-model="width" ng-change="style['background-size'] = width + 'px'" />
      </li>
      <li ng-if="backgroundType === 'image'">
        <select ng-model="style['background-repeat']"" ng-init="style['background-repeat'] = 'repeat'">
          <option value="repeat">Repeat</option>
          <option value="no-repeat">Don't Repeat</option>
        </select>
      </li>
    </ul>
    <ul class="section-ul">
      <li>Font Color</li>
      <li>
        <input type="color" ng-model="style.color" ng-init="style.color = '#000000'"/>
      </li>
    </ul>
    <ul class="section-ul">
      <li>Padding</li>
      <li>
        <input type="number" step="1" ng-model="padding" ng-init="padding = 10" min="0" ng-change="style.padding = padding + 'px'" />
      </li>
    </ul>
    <ul class="section-ul">
      <li>Centered</li>
      <li>
        <input type="checkbox" ng-model="ngModel.centered" />
      </li>
    </ul>
    <ul class="section-ul">
      <li>Font</li>
      <li>
        <select ng-model="style['font-family']" ng-init="style['font-family'] = 'Roboto'" ng-options="font as font for font in fonts"></select>
      </li>
    </ul>
    <ul class="section-ul">
      <li>Font Size</li>
      <li>
        <input type="number" placeholder="Font Size" step="1" ng-model="size" ng-change="style['font-size'] = size + 'px'" />
      </li>
      <li>
      <select ng-model="style['font-weight']" ng-init="style['font-weight'] = 'normal'" ng-options="weight.toLowerCase() as weight for weight in fontWeights"></select>
      </li>
    </ul>
    <ul class="section-ul">
      <li>Border</li>
      <li>
        <input ng-model="thickness" placeholder="Thickness" ng-init="thickness = 1; style['border-width'] = '1px'" type="number" step="1" min="0" ng-change="style['border-width'] = thickness + 'px'" />
      </li>
      <li>
        <input type="color" ng-model="style['border-color']" ng-init="style['border-color'] = '#cccccc'"/>
      </li>
      <li>
        <select ng-model="style['border-style']" ng-init="style['border-style'] = 'solid'" ng-options="border.toLowerCase() as border for border in borderStyles">
        </select>
      </li>
    </ul>
  </form>
</div>