<section class="custom-section" style="background: {{ ngModel.style.background }}; color: {{ ngModel.style.color }}; padding: {{ ngModel.style.padding }}; padding-right: 0px">
  <table>
    <tr>
      <th>Background Color</th>
      <th>Font Color</th>
      <th>Padding</th>
      <th>Centered</th>
      <th>Font</th>
      <th>Font Size</th>
    </tr>
    <tr>
      <td>
        <input type="color" ng-model="ngModel.style.background" ng-init="ngModel.style.background = '#EEEEEE'"/>
      </td>
      <td>
        <input type="color" ng-model="ngModel.style.color" ng-init="ngModel.style.color = '#000000'"/>
      </td>
      <td>
        <input type="number" step="1" ng-model="padding" ng-init="padding = 10" min="0" ng-change="ngModel.style.padding = padding + 'px'" />
      </td>
      <td>
        <input type="checkbox" ng-model="ngModel.centered" />
      </td>
      <td>
        <select ng-model="ngModel.style['font-family']" ng-init="ngModel.style['font-family'] = 'Roboto'" ng-options="font as font for font in fonts"></select>
      </td>
      <td>
        <input type="number" placeholder="Font Size" step="1" ng-model="size" ng-change="ngModel.style['font-size'] = size + 'px'" />
      </td>
      <td style="font-family: {{ ngModel.style['font-family'] }}; font-size: {{ ngModel.style['font-size'] }}">
        Preview Text
      </td>
    </tr>
  </table>

  <div ng-repeat="section in ngModel.content">
    <a ng-if="$first" class="fa fa-plus" style="color: #39f; margin-bottom: 5px" ng-click="ngModel.addItem('h1', 0)"></a>
    <div class="section-builder">
      <ul class="section-ul">
        <li>
          <a class="fa fa-trash" style="color: red" ng-click="ngModel.removeItem(section)"></a>
        </li>
        <li>
          <select ng-model="section.tag" ng-change="section.clear()">
            <option value="h1">Title</option>
            <option value="h2">Subtitle</option>
            <option value="hr">Section Break</option>
            <option value="p">Paragraph</option>
            <option value="img">Image</option>
            <option value="a">Link</option>
            <option value="ul">Bullet List</option>
            <option value="section">Section</option>
          </select>
        </li>
      </ul>

      <div>
        <div ng-if="section.tag === 'h1' || section.tag === 'h2'">
          <input type="text" placeholder="Text" ng-model="section.content" />
          <input type="number" placeholder="Margin" ng-model="headerMargin" ng-change="section.style.margin = headerMargin + 'px'" />
        </div>
        <div ng-if="section.tag === 'hr'">
          <input type="number" placeholder="Margin" ng-model="headerMargin" ng-change="section.style.margin = headerMargin + 'px'" />
        </div>
        <div ng-if="section.tag === 'p'">
          <textarea ng-model="section.content"></textarea>
        </div>
        <div ng-if="section.tag === 'img'">
          <input type="text" ng-model="section.attributes.src" placeholder="URL" />
          <input type="number" placeholder="Width" step="1" ng-model="width" ng-change="section.style.width = width + 'px'" />
        </div>
        <div ng-if="section.tag === 'a'">
          <input type="text" ng-model="section.attributes.href" placeholder="URL" />
          <input type="text" ng-model="section.content" placeholder="Text" />
        </div>
        <div ng-if="section.tag === 'section'">
          <custom-section ng-model="section"></custom-section>
        </div>

        <div ng-if="section.tag === 'ul'">
          <input type="text" style="display: block; margin: 5px" ng-model="bullet.content" ng-repeat="bullet in section.content" style="" />
          <input type="button" value="Add Bullet" ng-click="section.addItem('li')" />
        </div>
      </div>
    </div>
    <a ng-if="!$last" class="fa fa-plus" style="color: #39f; margin-bottom: 5px" ng-click="ngModel.addItem('h1', $index + 1)"></a>
  </div>
  <a class="fa fa-plus" style="color: #39f; margin-bottom: 5px" ng-click="ngModel.addItem('h1')"></a>
</section>
