<section class="custom-section" style="{{ sectionModel.styleString() }}; padding-right: 0px">

  <custom-style ng-model="sectionModel.style"></custom-style>

  <div ng-repeat="section in sectionModel.content">
    <a ng-if="$first" class="fa fa-plus" style="color: #39f; margin-bottom: 5px" ng-click="sectionModel.addItem('h1', 0)"></a>
    <div class="section-builder">
      <ul class="section-ul" style="margin-right: 5px">
        <li>
          <a class="fa fa-trash" style="color: red" ng-click="sectionModel.removeItem(section)"></a>
        </li>
        <li>
          <select ng-model="section.tag" ng-change="section.clear()">
            <option value="h1">Title</option>
            <option value="h2">Subtitle</option>
            <option value="hr">Section Break</option>
            <option value="p">Paragraph</option>
            <option value="img">Image</option>
            <option value="a">Link</option>
            <option value="ul">Bullet List</option>
            <option value="section">Section</option>
          </select>
        </li>
      </ul>

      <div class="custom-section-child" ng-if="section.tag === 'h1' || section.tag === 'h2'">
        <input type="text" placeholder="Text" ng-model="section.content" />
        <input type="number" placeholder="Margin" ng-model="headerMargin" ng-change="section.style.margin = headerMargin + 'px'" />
      </div>
      <div class="custom-section-child" ng-if="section.tag === 'hr'">
        <input type="number" placeholder="Margin" ng-model="headerMargin" ng-change="section.style.margin = headerMargin + 'px'" />
      </div>
      <div class="custom-section-child" ng-if="section.tag === 'p'">
        <textarea ng-model="section.content"></textarea>
      </div>
      <div class="custom-section-child" ng-if="section.tag === 'img'">
        <input type="text" ng-model="section.attributes.src" placeholder="URL" />
        <input type="number" placeholder="Width" step="1" ng-model="width" ng-change="section.style.width = width + 'px'" />
      </div>
      <div class="custom-section-child" ng-if="section.tag === 'a'">
        <input type="text" ng-model="section.attributes.href" placeholder="URL" />
        <input type="text" ng-model="section.content" placeholder="Text" />
      </div>
      <div class="custom-section-child" ng-if="section.tag === 'section'">
        <custom-section ng-model="section"></custom-section>
      </div>
      <div class="custom-section-child" ng-if="section.tag === 'ul'">
        <input type="text" style="display: block; margin: 5px" ng-model="bullet.content" ng-repeat="bullet in section.content" style="" />
        <input type="button" value="Add Bullet" ng-click="section.addItem('li')" />
      </div>

    </div>
    <a ng-if="!$last" class="fa fa-plus" style="color: #39f; margin-bottom: 5px" ng-click="sectionModel.addItem('h1', $index + 1)"></a>
  </div>
  <a class="fa fa-plus" style="color: #39f; margin-bottom: 5px" ng-click="sectionModel.addItem('h1')"></a>
</section>
